button {
    text-align: center;
    padding: 10px 20px;
    border-radius: 78px;
    border: none;
    font-weight: 600; 
    &.primary{
        background: #f7f7f7;
        color: #4285F4;  
    }
    &.secondary{
      background: #4285F4;
      color: white;
    
    }
}
