.download-window {
  width: 65%;
  left: 5%;
  bottom: 500%;
  display: none;
  min-height: 50%;
  position: absolute;
  background: #cecece;
  border-radius: 20px;
  padding: 1rem;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
  justify-content: space-evenly;
  /* min-height: 350px; */
  &.active{
    display: flex;
  }
}

.exit-icon{
  top: 2;
  right: 2;
  align-self: end;
}

.document-title {
  width: 80%;
}

.document-date {
  width: 80%;
}
