section.side-section {
  flex-grow: 1;
  height: 100vh;
  position: relative;
  /* text-align: center; */
  padding-left: 5%;
  padding-top: 20px;
  h3 {
    color: #4285F4;
    font-family: Poppins;
    font-weight: 500;
    font-size: 28px;
    line-height: 45px;
  }
}

.search-container {
  /* background: rgb(200, 200, 200); */
  margin-top: 20px;
  width: 90%;
  position: relative;
  .search-icon {
    right: 11px;
    position: absolute;
    top: 7px;
    font-size: 25px;
    color: #4285F4;
  }
}

.side-section input[type="text"]{
  height: 40px;
  width: 100%;
  border: 1px solid #D0DDFF;
  border-radius: 40px;
}

.btn-trait {
  position: absolute;
  bottom: 1rem;
  left: 30%;
  font-size: 1.2rem;
}

.map-info {
  max-height: 80%;
  overflow: auto;
}
