.mapboxgl-ctrl {
  display: none;
}

.mapboxgl-ctrl-attrib .mapboxgl-ctrl-attrib-inner a {
  display: none;
}

.map-thing{
  height: 100%;
  width: 100%;
}

a.mapboxgl-ctrl-logo {
  display: none !important; 
}
